
body{
    background-color: #393E46;
    
}


h1{
    text-align: center;
    font-family:'Lobster', cursive;
    font-size:6rem;
    color: #4ECCA3;
    text-shadow: 3px 0 black;
    text-decoration-color: #84a59a;
    margin: 40px;
}
.flex-container{
    width: 70%;
    margin: auto;
    text-align: center;
}
.card{
    text-align: center;
  display: inline-block;
}

img{
    
    width: 80%;
}

h3{
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    color: #4ECCA3;
}

footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
  